<!-- <div class="container text-center">
    <div class="justify-content-center">

        <img class="m-5" src="../../assets/img/logogarumnegro.png" width="250px%" height="auto" >
    </div>

</div> -->
<div class="container">
    <footer class="row">
        <div>
            <h3>Contacto y contratación</h3>
            <br>
            <p><strong>Teléfono:</strong> 666 84 11 23</p>
            <p><strong>Email:</strong> komandogarumband@gmail.com</p>
            <br>
        </div>
    </footer>
</div>

