<nav class="bg-black pt-2 shadow-xl">

    <!-- <a class="navbar-brand" href="#">
        <img src="../../assets/img/logogarumnegro.png" alt="" width="30" height="30"
            class="d-inline-block align-text-top">
    </a> -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <h3 class="text-gris">Inicio</h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <h3 class="text-gris">Conciertos</h3>
            </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <h3 class="text-gris">Música</h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <h3 class="text-gris">Fotos</h3>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="tienda">
                <h3 class="text-gris">Tienda</h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <h3 class="text-gris">Contratación</h3>
            </a>
        </li>

    </ul>
</nav>