<img src="../../assets/img/garumall1.jpg" class="img-fluid img-fondo shadow-xl">
<br><br><br>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-4">
            <h2 class="escritura">
                "Desperté mecido en estruendos <br>
                acuchillado ante carcajadas <br>
                y mi voz clavada en el cielo <br>
                por hacer caminar las palabras"
            </h2>
        </div>
        <div class="col-sm-4">
            <div class="justify-content-center">
                <img src="../../assets/img/logogarumnegro.png" width="40%" height="auto">
            </div>
        </div>
        <div class="col-sm-4">
            <h2 class="escritura">
                "Quien te ha visto y quien te ve,
                alzando al aire un puñal de ignorancia
                para matar y hacer sonrreir 
                a los cuervos de la tolerancia"
            </h2>
        </div>

    </div>
</div>
<br><br><br>
<hr>